[submodule "third_party/libhcs"]
	path = third_party/libhcs
	url = https://github.com/lemonviv/libhcs.git
	branch = ded027c368
	ignore = dirty
[submodule "third_party/libscapi"]
	path = third_party/libscapi
	url = https://github.com/cryptobiu/libscapi.git
    	branch = 1f70a88548
    	ignore = dirty
[submodule "third_party/zhCpp"]
	path = third_party/zhCpp
	url = https://github.com/shazi4399/zhCpp.git
[submodule "third_party/Pivot-SPDZ"]
	path = third_party/Pivot-SPDZ
	url = https://github.com/shazi4399/Pivot-SPDZ.git
[submodule "third_party/Garnet"]
	path = third_party/Garnet
	url = https://github.com/shazi4399/Garnet.git
